@charset="UFT-8";
/*Leckerli One*/
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

body{
    background-color: rgba(66, 108, 148,1);
    font-family: 'I_Ngaan';
}

/*header bar*/
ul { /* 取消ul預設的內縮及樣式 */
        margin: 0;
        padding: 0;
        list-style: none;
    }

header{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0;
    border: 1px none black;
    height: 60px;
    text-align: right;
    background-color: #85B2E0;
}

.web_logo{
    position: absolute;
    text-decoration: none;
    font-size: 45px;
    font-family: 'Leckerli One';
    top: 0;
    left: 18px;

}
.web_logo:link{
    color: black;
}
.web_logo:visited{
    color: black;
}
.web_logo:hover{
    color: black;
}
.web_logo:active{
    color: black;
}
.header_bar{
    margin-top: 10px;
    margin-right: 40px;
}
    ul.header_bar {
        border: #ccc 0px solid;
        display: inline-block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
    }

    ul.header_bar li {
        position: relative;
        white-space: nowrap;
        border-right: #ccc 0px solid;
    }

    ul.header_bar > li:last-child {
        border-right: none;
    }

    ul.header_bar > li {
        float: left; /* 只有第一層是靠左對齊*/
    }

     ul.header_bar a {
        background-color: rgba(0, 0, 0, 0);
        color: #000;
        display: block;
        border-radius: 20px;
        width: 90px;
        text-decoration: none;
        line-height: 40px;
        text-align: center;

    }
    ul.header_bar a:hover { /* 滑鼠滑入按鈕變色*/
        background-color: #0080FF;
        color: #fff;
    }
    ul.header_bar li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
        background-color: #0080FF;
        color: #fff;
    }

    ul.header_bar ul {
        border: #ccc 0px solid;
        border-radius: 20px;
        position: absolute;
        z-index: 99;
        top: 100%;
        left: -1px;
       color: #888;
       display: none;
       text-align: left;
       background-color: rgba(255, 255, 255, 0.5);
       font-size: 15px;
       font-weight: 400;
    }

    ul.header_bar ul li {
        border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
    }

    ul.header_bar ul li:last-child {
        border-bottom: none;
    }

    ul.header_bar li:hover > ul { /* 滑鼠滑入展開次選單*/
        display: block;
        opacity: 1;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        left: -1px;
        border-right: 5px;
    }


/*------------------------*/
.about_me{
    font-family: 'I_Ngaan','標楷體';
}